# Environment Variables Template
# Copy this file to .env.local and fill in the values.
# DO NOT commit .env.local to version control.

# Environment Variables Template
# Copy this file to .env.local and fill in the values.
# DO NOT commit .env.local to version control.

RESEND_API_KEY=

# Public key for the browser.
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=

# Secret key for the server only. DO NOT use NEXT_PUBLIC_.
RECAPTCHA_SECRET_KEY=

#RAZORPAY
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_SUBSCRIPTION_ID_GO=
RAZORPAY_SUBSCRIPTION_ID_GROW=
RAZORPAY_SUBSCRIPTION_ID_PRO=
RAZORPAY_WEBHOOK_SECRET=